*{ padding: 0px; margin: 0px; }

body{
	background-color: white;
}

#navigation{
	position: relative;
}

#navigation nav a{
	color: black;
}

.header-img{
	width: 100%;
	height: 400px;
}

.header-title{
	position: absolute;
	top: 20%;
	left: 0;
}

.header-title h1{
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 50px;
}

.header-contact{
	position: absolute;
	top: 90%;
	right: 1.6%;
}

.scroll-down{
	position: absolute;
	bottom: 10%;
	left: 0;
	transform: rotate(271deg);

	animation-name: scrolldown;
	animation-delay: 0s;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

@keyframes scrolldown{
	from{ bottom: 10%; }

	to{ bottom: 5%; color: #ffc107; }
}

.scroll-down-icon{
	position: absolute;
	bottom: -5%;
	left: 2%;
	font-size: 24px;

	animation-name: scrollicon;
	animation-delay: 0s;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

@keyframes scrollicon{
	from{ bottom: -5%; }

	to{ bottom: -10%; color: #ffc107; }
}

.padding-1{
	height: 120px;
	width: 28%;
	padding-top: 30px;
	margin: auto;
}

.padding-2{
	height: 120px;
	width: 28%;
	padding-top: 30px;
	margin: auto;
}

.padding-3{
	height: 120px;
	width: 28%;
	padding-top: 30px;
	margin: auto;
}

.padding-4{
	height: 120px;
	width: 28%;
	padding-top: 30px;
	margin: auto;
}

#apartment .card{
	border: none;
}

input::placeholder{
	font-size: 15px;
}

#navigation input{
	border: none;
}

input{
	border: none;
	background-color: #fff;
}

#work .card{
	border: none;
	position: relative;
}

#work .card img{
	width: 40%;
}

#work .card .b-bottom:before{
	content: "";
	height: 2px;
	width: 35%;
	background: black;
	position: absolute;
	bottom: 19%;
	left: 16.6%;	
}

.servics-img img{
	height: 430px;
	width: 100%;
}

#servics .card{
	border: none;
}

.add-img-1 img{
	height: 200px;
}

.add-row{
	position: relative;
}

.add-row strong{
	position: absolute;
	bottom: -12%;
	left: 18%;

}

.add-col{
	position: relative;
}

.add-col strong{
	position: absolute;
	bottom: -10%;
	right: 20%;
}

@media only screen and (max-width: 991.99px){
	#work .card .b-bottom{
		display: none;
	}

	.scroll-down-icon{
		left: 3%;
	}
}

@media only screen and (max-width: 1900px){
	#work .card .b-bottom:before{
	content: "";
	height: 2px;
	width: 35%;
	background: black;
	position: absolute;
	bottom: 19%;
	left: 13.5%;	
	}

}

@media only screen and (max-width: 1199.99px){
	#work .card .b-bottom:before{
	content: "";
	height: 2px;
	width: 40%;
	background: black;
	position: absolute;
	bottom: 19%;
	left: 17%;	
	}

}

@media only screen and (max-width: 767.99px){
	.add-row strong{
	position: absolute;
	bottom: -12%;
	left: 40%;
	}

	.scroll-down-icon{
		left: 4%;
	}
}




